*~
.*.swp
.swp
*.log
.DS_Store
.vscode/
.envrc.local
zig-cache/
.zig-cache/
.zig-global-cache/
/.tmp/
/.atlas-builder/tmp/
zig-out/
# Custom Zig package cache dir (e.g. `zig build --global-cache-dir zig-pkg`)
zig-pkg/
build-cmake/
CMakeCache.txt
CMakeFiles/
/build.zig.zon.bak
example/*.wasm
test/ghostty
test/cases/**/*.actual.png

glad.zip
/Box_test.ppm
/Box_test_diff.ppm

